@import url("https://fonts.googleapis.com/css?family=Roboto");
.gridD, #contact form {
  margin-left: auto;
  margin-right: auto; }

#loader, header nav ul li a, #frameworks .item h3, #contact .form-group input[type="submit"] {
  -webkit-transition: 0.4s all linear;
  transition: 0.4s all linear; }

* {
  padding: 0;
  margin: 0;
  text-decoration: none; }

html, body {
  height: 100%; }

.gridD {
  width: 100%;
  height: 100%;
  max-width: 1200px; }
@media(max-width: 768px) {
  .gridD {
    width: 95%; } }
.d-flex {
  display: flex; }

.title {
  text-align: center;
  padding-bottom: 40px; }
  .title::after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 3px;
    background: #000000;
    margin-top: 10px; }
  .title h2 {
    font-size: 32px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase; }
@media(max-width: 768px) {
  .title h2 {
    font-size: 28px; } }
@media(max-width: 580px) {
  .title h2 {
    font-size: 22px; } }
    .title h2 small {
      font-size: 0.7em;
      display: block; }

section {
  padding: 60px 0; }

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F0DC1B;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center; }
  #loader .icon {
    border: 16px solid #ffffff;
    border-radius: 50%;
    border-top: 16px solid #000000;
    border-bottom: 16px solid #000000;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite; }
  #loader.hidden {
    opacity: 0;
    visibility: hidden; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px; }
  body h1 small {
    display: block; }

header .header-top {
  padding: 5px 0;
  text-align: center;
  background: #F0DC1B; }
  header .header-top p {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 12px; }
header nav {
  background: #eeeeee;
  height: 80px; }
  header nav .gridD {
    height: 100%; }
    header nav .gridD .d-flex {
      justify-content: space-between;
      align-items: center;
      height: 100%; }
  header nav .logo {
    max-width: 60px;
    background: #F0DC1B; }
    header nav .logo img {
      max-width: 100%;
      height: auto;
      display: block; }
  header nav ul li {
    display: inline-block;
    margin: 0 10px; }
    header nav ul li a {
      display: block;
      color: #000000;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px; }
      header nav ul li a:hover {
        color: #F0DC1B; }

#banner {
  height: 480px;
  background: url("https://img00.deviantart.net/0641/i/2017/127/b/7/javascript_wallpaper_by_mrhudson-db8gw2e.png") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
@media(max-width: 768px) {
  #banner {
    height: 350px; } }
  #banner .d-flex {
    align-items: center;
    justify-content: center;
    height: 100%; }
  #banner::before {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  #banner h1 {
    font-size: 46px;
    color: #ffffff;
    position: relative;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;
    text-align: center; }
    #banner h1 small {
      display: block;
      font-size: 0.5em; }

#about .d-flex {
  align-items: center; }
@media(max-width: 992px) {
  #about .d-flex {
    flex-direction: column-reverse; } }
#about p {
  font-size: 16px;
  text-align: justify; }
#about article {
  padding-left: 15px;
  padding-right: 15px;
  width: 50%; }
@media(max-width: 992px) {
  #about article {
    width: auto; } }
  #about article p {
    padding-bottom: 20px; }
    #about article p:last-child {
      padding-bottom: 0; }
  #about article img {
    display: block;
    max-width: 100%;
    height: auto; }
@media(max-width: 992px) {
  #about article img {
    margin-bottom: 20px; } }
#frameworks {
  background: #eeeeee; }
  #frameworks .d-flex {
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    max-width: 992px;
    margin-left: auto;
    margin-right: auto; }
@media(max-width: 768px) {
  #frameworks .d-flex {
    flex-wrap: wrap; } }
    #frameworks .d-flex img {
      display: block;
      height: 100px;
      margin-left: auto;
      margin-right: auto; }
  #frameworks .item {
    text-align: center;
    padding: 15px 0;
    width: 23%;
    border-radius: 15px; }
@media(max-width: 768px) {
  #frameworks .item {
    width: 150px; } }
    #frameworks .item h3 {
      margin-top: 15px;
      opacity: 0;
      color: #000000;
      text-transform: uppercase; }
    #frameworks .item:hover {
      background: #ffffff; }
      #frameworks .item:hover h3 {
        opacity: 1; }

#contact {
  background: rgba(240, 220, 27, 0.3); }
  #contact form {
    max-width: 320px; }
  #contact .form-group {
    position: relative; }
    #contact .form-group label {
      font-size: 12px;
      font-weight: 900;
      position: absolute;
      top: 50%;
      left: 0; }
    #contact .form-group input {
      width: 100%;
      height: 30px;
      -webkit-appearance: none;
      display: block;
      border: none;
      background: transparent;
      border-bottom: 2px solid #000000;
      margin: 10px 0; }
      #contact .form-group input::placeholder {
        color: #000000;
        font-weight: 700; }
      #contact .form-group input[type="submit"] {
        background: rgba(0, 128, 0, 0.7);
        color: #ffffff;
        max-width: 120px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer; }
        #contact .form-group input[type="submit"]:hover {
          border: none; }

footer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(240, 220, 27, 0.6); }
  footer p {
    font-size: 14px;
    color: #000000;
    font-weight: 700; }

/*# sourceMappingURL=style.css.map */
